<style>

body {
  color:black;
  font-weight: 300;
  font-size: 10pt;
}

.devise-links {
  text-align: center;
  padding: 10px;
}

.auth-link, .omniauth-button {
  display: inline-block;
  margin: 10px 0;
  padding: 10px, 10px;
  color: #007bff;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.auth-link:hover, .omniauth-button:hover {
  background-color: #007bff;
  color: white;
}

.omniauth-button {
  cursor: pointer;
  background-color: #f4f4f4;
  color: #333;
  border-color: #333;
}

</style>

<div class="devise-links">
  <%- if controller_name != 'sessions' %>
    <%= link_to "Log in", new_session_path(resource_name), class: 'auth-link' %><br />
  <% end %>

  <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
    <%= link_to "Forgot password?", new_password_path(resource_name), class: 'auth-link' %><br />
  <% end %>

  <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
    <body> Don’t have an ID? </body>
    <%= link_to "Create yours now.", new_registration_path(resource_name), class: 'auth-link' %><br />
  <% end %>

  <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
    <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name), class: 'auth-link' %><br />
  <% end %>

  <%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
    <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name), class: 'auth-link' %><br />
  <% end %>

  <%- if devise_mapping.omniauthable? %>
    <%- resource_class.omniauth_providers.each do |provider| %>
      <%= button_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider), method: :post, class: 'omniauth-button', data: { turbo: false } %><br />
    <% end %>
  <% end %>
</div>
