<h1>Health Checkups</h1>

<div class="health-check-cards">
  <% @plant.health_checks.each do |check| %>
    <div class="card">
    <%= link_to plant_health_check_path(@plant, check) do %>
      <%= image_tag(check.image.attached? ? check.image : 'plant_placeholder.webp', size: '150x150', class: 'img') %>
    <% end %>
    <p><strong>Leaf Color:</strong> <%= check.leafColor %></p>
    <p><strong>Pests:</strong> <%= check.pests %></p>
    <p><strong>Root:</strong> <%= check.root %></p>
    <p><strong>Spots:</strong> <%= check.spots %></p>
    <p><strong>Other:</strong> <%= check.other %></p>
    </div>
  <% end %>
    <%= link_to "+", new_plant_health_check_path(@plant), class: "card add-health-check-card" %>
</div>