<%= render 'shared/topnav' %>

<body>
<div class="center-container">

    <h1>New Health Checkup</h1>
    
    <%= form_for @health_check, url: plant_health_checks_path do |form| %>
    
      <div class="field">
        <%= form.label :leafColor, class: 'input-lable' %>
        <%= form.text_field :leafColor, class: 'first-field' %>
      </div>

      <div class="field">
        <%= form.label :pests, class: 'input-lable' %>
        <%= form.text_field :pests, class: 'middle-field' %>
      </div>

      <div class="field">
        <%= form.label :root, class: 'input-lable' %>
        <%= form.text_field :root, class: 'middle-field' %>
      </div>

      <div class="field">
        <%= form.label :spots, class: 'input-lable' %>
        <%= form.text_field :spots, class: 'middle-field' %>
      </div>

      <div class="field">
        <%= form.label :other, class: 'input-lable' %>
        <%= form.text_field :other, class: 'last-field' %>
      </div>

      <br><br>

      <div class="field"><br>
        <%= form.label :image %>
        <%= form.file_field :image, accept: 'image/*', class: 'input-lable' %>
      </div>

      <br>
    
      <p>
        <%= form.submit "Create Health Checkup" %>
      </p>
    <% end %>
</div>

</body>
