
<%= render 'shared/topnav' %>

<body>
<div class="center-container">

<h1>Edit Plant</h1>

<%= form_for @plant, url: plant_path(@plant), method: :patch do |form| %>
  
      <%= form.hidden_field :user_id, value: current_user.id %>
    
      <div class="field">
        <%= form.label :name, class: 'input-lable' %>
        <%= form.text_field :name, class: 'first-field' %>
      </div>

      <div class="field">
        <%= form.label :species, class: 'input-lable' %>
        <%= form.text_field :species, class: 'middle-field' %>
      </div>

      <div class="field">
        <%= form.label :location, class: 'input-lable' %>
        <%= form.text_field :location, class: 'last-field' %>
      </div>
      
      <br>

      <div>
        <%= form.label :wateringTime %><br>
        <%= form.time_select :wateringTime, :discard_hour => false, :default => {:hour => '00', :minute => '00'}, :include_seconds => false %>
      </div>
      
      <br>

      <div>
        <%= form.label :personality_id %><br>
        <%= form.collection_select :personality_id, Personality.all, :id, :personality_type %>
      </div>

      <br>
      
      <div>
        <%= form.label :image %>
        <%= form.file_field :image, accept: 'image/*' %>
      </div>
    
      <p>
        <%= form.submit %>
      </p>
      
    <% end %>
    
</div>

</body>
