<%= render 'shared/topnav' %>

<h1>Your Plants</h1>

<table border = '1'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Species</th>
      <th>Watering Time</th>
      <th>Personality</th>
    </tr>
  </thead>

  <tbody>
    <% @plants.each do |plant| %>
      <tr>
        <td><%= link_to plant.name, plant%></td>
        <td><%= plant.species %></td>
        <td><%= plant.wateringTime %></td>
        <td><%= plant.personality.personality_type%></td>     
      </tr>
    <% end %>
  </tbody>
</table>