<%= render 'shared/topnav' %>

<h1>Your Plants</h1>

<div class="plant-cards">
  <% @plants.each do |plant| %>
    <div class="card">
      <%= link_to plant_path(plant) do %>
        <%= image_tag(plant.image.attached? ? plant.image : 'plant_placeholder.webp', size: '150x150') %>
      <% end %>
      <%= link_to plant_path(plant) do %>
        <h2><%= plant.name %></h2>
      <% end %>
      <hr>
      <p><strong>Species:</strong> <%= plant.species %></p>
      <p><strong>Watering Time:</strong> <%= plant.wateringTime.strftime('%H:%M') %></p>
      <p><strong>Personality:</strong> <%= plant.personality.personality_type %></p>
    </div>
  <% end %>

    <%= link_to "+", new_plant_path, class: "card add-plant-card" %>
</div>
