<body>
<div class="center-container">

    <h1>New Plant</h1>
    
    <%= form_for @plant, url: plants_path do |form| %>
      
      <%= form.hidden_field :user_id, value: current_user.id %>
    
      <div class="field">
        <%= form.label :name, class: 'input-lable' %>
        <%= form.text_field :name, class: 'first-field' %>
      </div>

      <div class="field">
        <%= form.label :species, class: 'input-lable' %>
        <%= form.text_field :species, class: 'middle-field' %>
      </div>

      <div class="field">
        <%= form.label :location, class: 'input-lable' %>
        <%= form.text_field :location, class: 'last-field' %>
      </div>

      <br>
      
      <div class="field">
        <%= form.label :wateringTime, class: 'input-lable' %><br>
        <%= form.time_select :wateringTime, :discard_hour => false, :default => {:hour => '00', :minute => '00'}, :include_seconds => false %>
      </div>

      <br>

      <div class="field">
        <%= form.label :personality_id %><br>
        <%= form.collection_select :personality_id, Personality.all, :id, :personality_type %>
      </div>

      <br>

      <div class="field"><br>
        <%= form.label :image %>
        <%= form.file_field :image, accept: 'image/*', class: 'input-lable' %>
      </div>

      <br>
    
      <p>
        <%= form.submit %>
      </p>
    <% end %>
</div>

</body>
