<!DOCTYPE html>
<html>
  <head>
    <title>LeafLife Care</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "apple", "data-turbo-track": "reload" %>
  </head>

  <body>
    <div class="topnav">
      
    <% unless request.path == '/dashboard' %>
      <a href="#" onclick="event.preventDefault(); history.back();" class="nav-link">
        <%= image_tag('arrowshape.backward.circle.svg', alt: 'Back') %>
      </a>
    <% else %>
      <div class="spacer"></div> <!-- Placeholder spacer -->
    <% end %>

      <%= link_to dashboard_path, class: 'home' do %>
        <%= image_tag('leaf.fill.svg', alt: 'Home') %>
      <% end %>

      <div class="dropdown">
        <button class="dropdown">
          <%= image_tag('person.circle.svg') %>
        </button>
        <div id="dropdownMenu" class="dropdown-content">
          <%= link_to 'Profile', edit_user_registration_path %>
          <%= button_to 'Logout', destroy_user_session_path, method: :delete, class: 'logout-link' %>
        </div>
      </div>
      
    </div>
    <%= yield %>
  </body>
</html>
